<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my fancy utms</title>
</head>
<body>
WELCOME TO UTM

<form action="/" method="post">
  First name:<br>
  <input type="text" name="firstname" value="Mickey"><br>
  <input type="hidden" name="utmstuff" value="EmptyHistory" id="smujarHistory"><br><br>
    <input type="hidden" name="firstVisit" value="NoPrevVisit" id="smujarFirstVisit"><br><br>
    <input type="hidden" name="smujarFirstVisitTime" value="NoPrevVisit" id="smujarFirstVisitTime2"><br><br>

    <input type="hidden" name="smujarCurrentUTMSource" value="NoPrevVisit" id="smujarCurrentUTMSource">
    <input type="hidden" name="smujarCurrentUTMMedium" value="NoPrevVisit" id="smujarCurrentUTMMedium">
    <input type="hidden" name="smujarCurrentUTMCampaign" value="NoPrevVisit" id="smujarCurrentUTMCampaign">
    <input type="hidden" name="smujarCurrentUTMContent" value="NoPrevVisit" id="smujarCurrentUTMContent">
    <input type="hidden" name="smujarCurrentUTMTerm" value="NoPrevVisit" id="smujarCurrentUTMTerm">
    <input type="hidden" name="smujarCurrentLandingPage" value="NoPrevVisit" id="smujarCurrentLandingPage">
    <input type="hidden" name="smujarCurrentReferrer" value="NoPrevVisit" id="smujarCurrentReferrer">

    <input type="hidden" name="smujarFirstUTMSource" value="NoPrevVisit" id="smujarFirstUTMSource">
    <input type="hidden" name="smujarFirstUTMMedium" value="NoPrevVisit" id="smujarFirstUTMMedium">
    <input type="hidden" name="smujarFirstUTMCampaign" value="NoPrevVisit" id="smujarFirstUTMCampaign">
    <input type="hidden" name="smujarFirstUTMContent" value="NoPrevVisit" id="smujarFirstUTMContent">
    <input type="hidden" name="smujarFirstUTMTerm" value="NoPrevVisit" id="smujarFirstUTMTerm">
    <input type="hidden" name="smujarCurrentUTMTerm" value="NoPrevVisit" id="smujarCurrentUTMTerm">

    <input type="hidden" name="smujarFirstLandingPage" value="NoPrevVisit" id="smujarFirstLandingPage">
    <input type="hidden" name="smujarFirstReferrer" value="NoPrevVisit" id="smujarFirstReferrer">


    <input type="submit" value="Submit">
</form>

</body>

<script src={{ url_for('static', filename='SmartUTMJar.js') }}></script>
</html>